@import "./fonts/stylesheet.css";

.gr-elysium_slide {
    width: 342px!important;
}

@media screen and (min-width: 1200px) {
    .gr-elysium_slide {
        width: 564px!important;
    }
}

.gr-insta_slide {
    width: 310px!important;
    height: 310px!important;
}

.gr-news_slide {
    width: 342px!important;
}

@media screen and (min-width: 1200px) {
    .gr-insta_slide {
        width: 358px!important;
        height: 358px!important;
    }
}

